*{margin: 0; padding: 0;box-sizing: border-box;}



/*-----------------------------------------------*/
/*Barra de navegação --------------------------
*/
header{
    background: cornflowerblue;
    padding: 15px 0;
    height: 55px;
}

nav ul li{
    list-style: none;
    float: right;
    margin: 5px 15px;
    color: white;
}

a{
    color: honeydew;
    font-weight: bold;
}

a:link{
    text-decoration: none;
    display: block;
}


.imgTop{
    height: 15px;
    width: 10px;
}



/*tabela de registro de atendimento --------------------------
*/
caption{
    margin: 3%;
}

table{
    margin-top: 5%; 
}
.tabConteudo{
    display: flex;
    margin: auto;
}
.tab{
    width: 95%;
    text-align: center;
}
    .tab thead{
        background: cornflowerblue;
        color: white;
        font-weight: bold;
    }
    .tab tbody{
        background: rgb(226, 225, 225);
    }

    .tab th, .tab td{
        padding: 7px 0;
    }


